.bigContainer {
  display: flex;
  justify-content: center;
}

.container {
  width: 50vh;
}

body,
html {
  font-family: Arial, sans-serif;
}

.myGrid {
  display: grid;
  place-content: center;
  padding-right: 5%;
  width: 300px;
}

.logo {
  padding-left: 2%;
}

h1 {
  background-color: rgb(232, 155, 13);
  color: rgb(255, 255, 255);
  width: 400px;
  height: 20px;
  font-size: 15px;
  font-weight: 500;
  padding: 10px;
  display: grid;
  place-content: center;
}

h2 {
  font-size: 20px;
  font-weight: 600;
}

.rentContainer {
  background-color: rgb(199, 199, 199);
  width: 700px;
  padding: 10px;
}

input[type="radio"] {
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

.dateTimeContainer {
  display: grid;
  grid-template-columns: 50px 50px;
  gap: 300px;
}

.pickUp {
  display: grid;
  gap: 5px;
}

.dropOff {
  display: grid;
  gap: 5px;
}

input[type="date"],
input[type="time"],
input[type="text"],
input[type="password"],
input[type="email"] {
  width: 320px;
  height: 30px;
  background-color: rgb(236, 236, 236);
  border: solid rgb(151, 151, 151);
}

.formContainer {
  display: grid;
  grid-template-columns: repeat(4, 50px);
  column-gap: 125px;
}

input[type="checkbox"] {
  width: 20px;
  height: 20px;
}

select {
  width: 71%;
  height: 30px;
  padding: 5px;
  box-sizing: border-box;
  background-color: rgb(236, 236, 236);
  border: solid rgb(151, 151, 151);
}
